@font-face {
    font-family: 'Edo';
    src: url('../fonts/edo-webfont.woff') format('woff'),
         url('../fonts/edo-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    text-shadow: 0 0 3px #000000;
}

h1, h2, h3, h4{
        font-family: 'Edo', Verdana, Tahoma, sans-serif; 
        width: 70%;
        margin: auto;
        padding: 5px;
}

nav {
    font-family: 'Edo', Verdana, Tahoma, sans-serif;
}

table, .alert {
    text-shadow: 0 0 0
}

.nav-link:hover {
    color: #d3d3d3
}